@import "include.less";

html, body
{
	height:100%;
}

body
{
	font-size:11pt;
	font-family:sans-serif;
	background:#6b737b url(/img/layout/background.png);
	margin:0;
	padding:0;
	
	> header
	{
		position:absolute;
		z-index:100;
		> figure
		{
			margin:0;
			padding:0;
			width:124px;
			height:60px;
			position:absolute;
			top:35px;
			left:7px;
			overflow:hidden;
			
			img
			{
				position:relative;
				top:0px;
				&:hover
				{
					top:-60px;
				}
			}
			
			
			
			figcaption
			{
				display:none;
			}
		}
		
		nav
		{
			position:absolute;
			left:140px;
			top:28px;
			width:740px;
			min-width:740px;
			
			ul
			{
				list-style:none;
				padding:0;
				margin:0;
				height:40px;
				li
				{
					font-size:0.9em;
					padding:3px;
					width:80px;
					float:left;
					text-align:center;
					
					&[data-align=right]
					{
						float:right;
					}
				}
				
			}
		}
	}
	
	> footer
	{
		position:fixed;
		bottom:0;
		right:0;
		background-color:rgba(0,0,0,0.3);
		color:#fff;
		padding:5px 20px 5px 5px;
		font-size:0.8em;
		border-radius:6px;
		text-shadow:1px 1px 0 rgb(0,0,0,0.5);
		
		a
		{
			color:#fff;
		}
	}
}


#notifications-count
{
	display:none;
	background-color:@color-active;
	color:#fff;
	border-radius:6px;
	font-size:0.9em;
	padding:2px 5px;
	cursor:pointer;
}

#notifications
{
	display:none;
	position:absolute;
	min-width:400px;
	max-width:400px;
	border:1px solid rgba(0,0,0,0.3);
	text-shadow:1px 1px 0 rgba(255,255,255,0.5);
	border-radius:2px;
	font-size:0.85em;
	background-color:#eaeaea;
	margin-top:5px;
	
	> div
	{
		text-align:left;
		padding:6px 6px 3px 6px;
		clear:both;
		border-bottom:1px dashed rgba(0,0,0,0.1);
		
		> *
		{
			cursor:default;
		}
		
		&:last-child
		{
			border-bottom:0;
		}
		
		figure
		{
			float:left;
			img
			{
				border:1px solid #fff;
				border-radius:0;
			}
		}
		
		p
		{
		}
		
		q
		{
			display:block;
			line-height:1.3em;
			padding:3px 0 3px 0;
			font-weight:bold;
			height:12px;
			width:350px;
			overflow:hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
			margin-bottom:3px;

		}
		
		time
		{
			display:block;
			text-align:right;
		}
		
		&:hover
		{
			background-color:@color-active;
			
			*
			{
				color:#fff;
				text-shadow:1px 1px 0 rgba(0,0,0,0.2);
			}
		}
	}
}

#wrapper
{
	position:absolute;
	height:100%;
	#loginbox
	{
		text-align:center;
		
		figure
		{
			display:inline-block;
			img
			{
				border:1px solid rgba(255,255,255,0.8);
				box-shadow:1px 1px 2px rgba(0,0,0,0.5);
			}
		}
	}

	#pane-left
	{
		min-width:140px;
		width:140px;
		position:absolute;
		z-index:2;
		
		background:url(/img/layout/roof_left.png) right top no-repeat;
		position:relative;
		padding-top:100px;
	}

	#content
	{
		position:absolute;
		z-index:1;
		left:140px;
		top:0;
		width:700px;
		padding:0 20px;
		max-width:700px;
		overflow:hidden;
		min-height:100%;
		background-color:#fff;
		box-shadow:0 0 7px rgba(0,0,0,0.9), 1px 1px 3px rgba(0,0,0,0.8);
		background:#fff url(/img/layout/roof_bg.png) repeat-x;
		
		> *:first-child
		{
			margin-top:80px;
		}
	}
	
	#pane-right
	{
		background:url(/img/layout/roof_right.png) left top no-repeat;
		padding-top:40px;
		position:absolute;
		z-index:3;
		left:880px;
		top:0;
	}
}


[data-type=twitter-icon]
{
	text-indent:-1000px !important;
	color:#429CC4;
	font-family:WebSymbols;
	font-size:1.5em;
	&:before
	{
		content:'t'
	}
	&:hover
	{
		color:#429CC4;
	}
	span
	{
		display:none;
	}
}

[data-type=facebook-icon]
{
	text-indent:-1000px !important;
	color:#557B9F;
	font-family:WebSymbols;
	font-size:1.5em;
	&:before
	{
		content:'f'
	}
	&:hover
	{
		color:#557B9F;
	}
	span
	{
		display:none;
	}
}


#visitors
{
	margin-left:10px;
	margin-top:10px;
	min-width:150px;
	li
	{
		clear:both;
		height:32px;	
		white-space:nowrap;
		figure
		{
			float:left;
			img
			{
				box-shadow:0 0 2px rgba(0,0,0,0.7), 1px 1px 2px rgba(0,0,0,0.3);
			}
		}
		
		strong
		{

			line-height:24px;
			font-weight:normal;
			color:#fff;
			font-size:0.9em;
			text-shadow:1px 1px 0 rgba(0,0,0,0.6);
		}
	}
	
	#guest-count
	{
		font-size:0.9em;
		color:#fff;
		text-shadow:1px 1px 0 rgba(0,0,0,0.3);
	}
}



[data-group=share]
{
	height:40px;
	line-height:40px;
	overflow:hidden;
	> div
	{
		text-align:center;
		vertical-align:top;
		height:20px;
		float:left;
	}
	[data-network=facebook]
	{
		width:162px;
	}
	
	[data-network=twitter]
	{
	}
	
	[data-network=google]
	{
		width:90px;
	}
	[data-network=me2day]
	{
		width:92px;
	}
}